@import "../../styles/utils/variables";

.search {
  display: flex;
  flex-direction: column;

  &__content {
    width: 100%;
    overflow: hidden;
  }

  &__wrapper {
    height: calc(100vh - 153px);
    overflow-y: scroll;
    padding-block: 12px;

    &::-webkit-scrollbar {
      width: 0;
      height: 0;
    }
  }

  .filter {
    &-link {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 6px;
      color: $color-white;
      font-weight: 600;
      background-color: $color-dark-gray;
      margin: 0 24px 24px;
      padding-block: 12px;
      border-radius: 16px;
    }

    &-icon {
      width: 24px;
      height: 24px;
      stroke: $color-white;
      stroke-width: 1.5px;
      stroke-linecap: round;
    }
  }

  &__row:not(:last-child) {
    margin-bottom: 24px;
  }

  &__title {
    width: 100%;
    text-align: left;
    font-size: 22px;
    font-weight: 700;
    padding-inline: 24px;
    margin-bottom: 12px;
  }
}
