@import "./utils/reset";
@import "./utils/fonts";
@import "./utils/variables";

*,
*::after,
*::before {
  box-sizing: border-box;
}

body {
  font-family: "Nunito", "sans-serif";
  font-weight: 500;
  font-size: 16px;
  background-color: $color-main;
  color: $color-white;
}

.container {
  max-width: 1980px;
  min-height: 100vh;
  touch-action: pan-y;
}

.open-drawer {
  position: fixed;
  overflow: hidden;
  height: 100vh;
}
