@import "../../../styles/utils/variables";

.header {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  gap: 12px;
  background-color: $color-dark-gray;
  padding: 6px;

  .menu {
    display: flex;
    align-items: center;
    justify-content: space-between;

    &__wrapper {
      display: flex;
      align-items: center;
      gap: 4px;
    }

    &__item {
      position: relative;
      z-index: 2;
      width: 38px;
      height: 38px;
      padding: 6px;

      &--overlay {
        .overlay {
          animation: 0.2s showOverlay;
        }
      }

      .overlay {
        position: absolute;
        z-index: -1;
        width: 100%;
        height: 100%;
        left: 0;
        top: 0;
        background-color: rgba($color-light-gray, 0.15);
        border-radius: 50%;
        transform: scale(0.9);
        opacity: 0;
      }
    }

    &__icon {
      width: 100%;
      height: 100%;
      fill: $color-dark-gray;
      stroke: $color-accent;
      stroke-width: 2;
      stroke-linecap: round;
      transition: fill 0.5s ease-in-out;

      &--fill {
        fill: $color-accent;
      }
    }
  }
}

@keyframes showOverlay {
  0% {
    transform: scale(0.9);
    opacity: 0;
  }
  50% {
    opacity: 1;
    transform: scale(1.1);
  }
  100% {
    transform: scale(0.9);
    opacity: 0;
  }
}
