$color-main: #171717;
$color-accent: #f97400;
$color-primary: rgb(255, 222, 0);
$color-dark-gray: #262626;
$color-light-gray: #8a8a8a;
$color-white: #ffffff;
$color-green: rgb(19, 216, 19);

$animation: 0.3s ease-in-out;
