@import "../../styles/utils/variables";

.recipe {
  margin-bottom: 24px;

  &__subtitle {
    font-size: 14px;
    font-weight: 300;
    line-height: 1.5;
    transition: max-height .5s ease-in-out;
  }

  &__wrapper{
    position: relative;
    z-index: 5;
    background-color: $color-main;
  }

  &__button {
    width: fit-content;
    color: $color-accent;
    font-size: 14px;
    font-weight: 600;
    padding-block: 12px;
    border: none;
    outline: none;
    background-color: transparent;
    cursor: pointer;
  }
}
