@import "../../styles/utils/variables";

.recipe {
  margin-bottom: 12px;
  &__subtitle {
    font-size: 14px;
    font-weight: 300;
    line-height: 1.5;
    overflow: hidden;
    transition: max-height 0.5s ease-in-out;
  }

  &__button {
    width: fit-content;
    color: $color-accent;
    font-size: 14px;
    font-weight: 600;
    padding-top: 12px;
    border: none;
    outline: none;
    background-color: transparent;
    cursor: pointer;

    &:focus {
      outline: none;
    }
  }
}
