@import "../../styles/utils/variables";

.filters {
  display: flex;
  flex-direction: column;
  gap: 24px;

  .header {
    display: flex;
    align-items: center;
    gap: 12px;
    background-color: $color-dark-gray;
    padding: 12px;

    &__icon {
      width: 24px;
      height: 24px;
      fill: none;
      stroke: $color-accent;
      stroke-width: 2;
      stroke-linecap: round;
    }

    &__title {
      font-size: 20px;
      font-weight: 600;
    }
  }

  .content {
    display: flex;
    flex-direction: column;
    gap: 24px;
    padding: 0 24px 24px;

    &__row {
      display: flex;
      flex-direction: column;
      gap: 12px;
    }
  }

  .list {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 6px;

    &__item {
      padding: 6px 12px;
      border-radius: 12px;
      background-color: $color-dark-gray;
      transition: background-color $animation;

      &.active {
        background-color: $color-primary;
      }
    }

    &__btn {
      text-wrap: nowrap;
      background-color: transparent;
      color: $color-white;
      font-size: 12px;
      font-weight: 600;
      border: none;
      outline: none;

      &:focus {
        outline: none;
      }
    }
  }
}


