@import "../../../styles/utils/variables";

.wrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 12px;

  .slider {
    position: relative;
    width: 100%;
    touch-action: pan-y;
    -webkit-appearance: none;
    appearance: none;
    background: transparent;
    cursor: pointer;

    &::-webkit-slider-runnable-track {
      background: rgba($color-dark-gray, 0.9);
      height: 5px;
      border-radius: 12px;
    }

    &::-moz-range-track {
      background: rgba($color-dark-gray, 0.9);
      height: 5px;
      border-radius: 12px;
    }

    &::-webkit-slider-thumb {
      -webkit-appearance: none;
      appearance: none;
      margin-top: -6.8px;
      background-color: $color-primary;
      height: 18px;
      width: 18px;
      border-radius: 50%;
      position: relative;
      z-index: 2;
    }

    &::-moz-range-thumb {
      -webkit-appearance: none;
      appearance: none;
      margin-top: -6.8px;
      background-color: $color-primary;
      height: 18px;
      width: 18px;
      border-radius: 50%;
      position: relative;
      z-index: 2;
    }

    &:focus {
      outline: none;
    }

    &:focus::-webkit-slider-thumb {
      outline: none;
    }

    &:focus::-moz-range-thumb {
      outline: none;
    }

    &::after {
      content: "";
      position: absolute;
      top: 9px;
      left: 0;
      width: var(--progress-width, 0%);
      height: 5px;
      background-color: $color-primary;
      border-radius: 12px;
      pointer-events: none;
      z-index: 1;
    }
  }

  .datalist {
    position: absolute;
    z-index: 1;
    left: 0;
    top: 5.5px;
    display: flex;
    justify-content: space-between;
    width: 100%;

    &__option {
      position: relative;
      padding: 0;

      &:before {
        content: "";
        display: inline-block;
        position: relative;
        left: 50%;
        height: 5px;
        width: 2px;
        background: $color-light-gray;
        border-radius: 25%;
        transform: translatey(-100%);
      }
    }
  }
  &__text {
    display: block;
    text-align: center;
  }
}
